# Password untuk Gate 1 (ulang tahun Cinta)
PASSWORD_GATE_1=14022007

# Password untuk Gate 2 (ulang tahun Wisnu)
PASSWORD_GATE_2=25112006

# Nomor WhatsApp tujuan tanpa +, tanpa spasi
NEXT_PUBLIC_WHATSAPP_NUMBER=6281234567890

# Pesan awal tombol WhatsApp
NEXT_PUBLIC_WHATSAPP_TEXT=aku udah lihat website-nya 😆🌻

# Opsional: URL Postgres dari Vercel Marketplace / provider PostgreSQL kamu
POSTGRES_URL=
